*{
    box-sizing: border-box;
    margin: 8;
}

title{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
}

body {
    color:palevioletred;
    font-family: monospace;
    font-weight: lighter;
    font-size: 15px;
}

.presentation{
    display: inline;
    text-align: center;
    color: black;
}

#angel{
    color: black;
    text-align: above;
}

h2{
    color:brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
}

.lista_drama{
    color: rgb(10, 5, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    font-size: 15px;
}

.my_passion{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.images_drama{
    display:flexbox;
    align-items: center;
    border: 5px;
    padding: 5px;
}

#contact{
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

#mail{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 15px;
}

.link_linkedin{
    padding: 2px;
    color: rgb(237, 53, 84);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    bottom: 25px;
    
}





